<div class="page-content">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 mx-auto">
            <h2 class="h3 mb-4 page-title mt-4">Configuración</h2>
            <h5 class="mb-0 mt-5">Configuración de notificaciones</h5>
                <p>Seleccione las notificaciones que desea recibir</p>
                <hr class="my-4" />
                <strong class="mb-0">Seguridad</strong>
                <p>Controle las alertas de seguridad que desea recibir.</p>
                <div class="list-group mb-5">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Notificaciones de actividad inusual</strong>
                                <p class="text-muted mb-0">Se notificará cuando se inicie sesión en un dispositivo no registrado.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" />
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Cambios en datos financieros</strong>
                                <p class="text-muted mb-0">Se notificará cuando sus metodos de cobro y pago sean cambiados.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" />
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <strong class="mb-0">Sistema</strong>
                <p>Alertas relacionadas al sistema de subastas.</p>
                <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Notificarme por los eventos en una subasta</strong>
                                <p class="text-muted mb-0">Se notificará antes los eventos de puja o victoria en las subastas en las que participa.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" />
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Notificarme por subasta finalizada</strong>
                                <p class="text-muted mb-0">Se notificará cuando una subasta que usted haya hecho esté finalizada.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" />
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Notificarme sobre artículos que pueden ser de mi interés</strong>
                                <p class="text-muted mb-0">Se te notificará de contenido que puede ser de su interés.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" />
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>