<div class="page-content">
    <section class="categories-container">
        <h2 class="h3 categories-container__title">Categorías para comprar y subastar</h2>
        <div class="categories-container__main card">
            <div class="andes-card categories card p-16">
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <p class="categories__title">
                            Arte y Antigüedades
                        </p>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/Libros" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Libros</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Pinturas" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Pinturas</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Esculturas" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Esculturas</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Arte" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Arte</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Antiguedades" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Antigüedades</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <p class="categories__title">
                            Electrónica y Tecnología
                        </p>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/Telefonos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Teléfonos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Tablets" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Tablets</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Computadoras" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Computadoras</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/DispositivosElectronicos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Dispositivos Electrónicos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/VideojuegosyConsolas" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Videojuegos y Consolas</h3>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="categories__container">
                    <h2 class="categories__title" >
                        <p class="categories__title">
                            Moda y Accesorios
                        </p>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/RopaparaMujeres" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Ropa para Mujeres</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/RopaparaHombres" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Ropa para Hombres</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/ZapatosyCalzado" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Zapatos y Calzado</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/BolsosyCarteras" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Bolsos y Carteras</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <p class="categories__title">
                            Hogar y Jardín
                        </p>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/Muebles" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Muebles</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Electrodomesticos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Electrodomésticos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/DecoraciondelHogar" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Decoración del Hogar</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/HerramientasdeJardineria" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Herramientas de Jardinería</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <p class="categories__title">
                            Joyería y Relojes
                        </p>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/Anillos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Anillos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Collares" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Collares</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Pulseras" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Pulseras</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Relojes" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Relojes</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <p class="categories__title">
                            Automóviles y Vehículos
                        </p>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/Automoviles" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Automóviles</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Motocicletas" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Motocicletas</h3></a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/PartesyAccesorios" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Partes y Accesorios</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/VehiculosRecreativos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Vehículos recreativos</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <p class="categories__title">
                            Juguetes y Coleccionables
                        </p>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/JueguetesEducativos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Juguetes Educativos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/FigurasdeAccion" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Figuras de Acción</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Monedas" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Monedas</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/Sellos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Sellos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/ArticulosdeColeccion" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Artículos de Colección</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <p class="categories__title">
                            Deportes y Actividades al Aire libre
                        </p>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/EquipodeEjercicio" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Equipo de Ejercicio</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/ArticulosDeportivos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Artículos Deportivos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/CampamentoySenderismo" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Campamento y Senderismo</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/EquipamientoparaDeportesAcuaticos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Equipamiento para Deportes Acuaticos</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <p class="categories__title">
                            Música
                        </p>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/CDyVinilos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● CD y Vinilos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/InstrumentosMusicales" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Instrumentos Musicales</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/ProduccionMusical" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Producción Musical</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <p class="categories__title">
                            Herramientas y Equipamiento
                        </p>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/HerramientasManuales" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Herramientas Manuales</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/EquipamientoIndustrial" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Equipamiento Industrial</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/MaterialdeConstruccion" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Material de Construcción</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/EquipamientodeSeguridad" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Equipamiento de Seguridad</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>