<div class="page-content">
    <section class="categories-container">
        <h2 class="h3 categories-container__title">Categorías para comprar y subastar</h2>
        <div class="categories-container__main card">
            <div class="andes-card categories card p-16">
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <a href="auction-list/filter:ArteyAntiguedades" class="categories__title">
                            Arte y Antigüedades
                        </a>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/filter:Libros" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Libros</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:Pinturas" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Pinturas</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:Esculturas" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Esculturas</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:Artedecorativo" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Arte decorativo</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:Antiguedades" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Antigüedades</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <a href="auction-list/filter:ElectronicayTecnologia" class="categories__title">
                            Electrónica y Tecnología
                        </a>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/filter:Telefonos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Teléfonos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:Tablets" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Tablets</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:Computadoras" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Computadoras</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:DispositivosElectronicos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Dispositivos Electrónicos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:VideojuegosyConsolas" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Videojuegos y Consolas</h3>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="categories__container">
                    <h2 class="categories__title" >
                        <a href="auction-list/filter:ModayAccesorios" class="categories__title">
                            Moda y Accesorios
                        </a>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/filter:RopaparaMujeres" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Ropa para Mujeres</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:RopaparaHombres" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Ropa para Hombres</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:ZapatosyCalzado" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Zapatos y Calzado</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:BolsosyCarteras" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Bolsos y Carteras</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <a href="auction-list/filter:HogaryJardin" class="categories__title">
                            Hogar y Jardín
                        </a>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/filter:Muebles" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Muebles</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:Electrodomesticos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Electrodomésticos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:DecoraciondelHogar" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Decoración del Hogar</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:HerramientasdeJardineria" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Herramientas de Jardinería</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <a href="auction-list/filter:JoyeriayRelojes" class="categories__title">
                            Joyería y Relojes
                        </a>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/filter:Anillos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Anillos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:Collares" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Collares</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:Pulseras" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Pulseras</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:RelojesdeLujo" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Relojes de lujo</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <a href="auction-list/filter:AutomobilesyVehiculos" class="categories__title">
                            Automóviles y Vehículos
                        </a>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/filter:Automoviles" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Automóviles</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:Motocicletas" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Motocicletas</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:PartesyAccesorios" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Partes y Accesorios</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:VehiculosRecreativos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Vehículos recreativos</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <a href="auction-list/filter:JuguetesyColeccionables" class="categories__title">
                            Juguetes y Coleccionables
                        </a>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/filter:JueguetesEducativos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Juguetes Educativos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:FigurasdeAccion" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Figuras de Acción</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:Monedas" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Monedas</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:Sellos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Sellos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:ArticulosdeColeccion" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Artículos de Colección</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <a href="auction-list/filter:DeportesyActividadesalAireLibre" class="categories__title">
                            Deportes y Actividades al Aire libre
                        </a>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/filter:EquipodeEjercicio" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Equipo de Ejercicio</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:ArticulosDeportivos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Artículos Deportivos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:CampamentoySenderismo" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Campamento y Senderismo</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:EquipamientoparaDeportesAcuaticos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Equipamiento para Deportes Acuaticos</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <a href="auction-list/filter:Musica" class="categories__title">
                            Música
                        </a>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/filter:CDyVinilos" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● CD y Vinilos</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:InstrumentosMusicales" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Instrumentos Musicales</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:ProduccionMusical" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Producción Musical</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="categories__container">
                    <h2 class="categories__title" >
                        <a href="auction-list/filter:HerramientasyEquipamiento" class="categories__title">
                            Herramientas y Equipamiento
                        </a>
                    </h2>
                    <ul class="categories__list" aria-label="categoria">
                        <li class="categories__item">
                            <a href="auction-list/filter:HerramientasManuales" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Herramientas Manuales</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:EquipamientoIndustrial" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Equipamiento Industrial</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:MaterialdeConstruccion" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Material de Construcción</h3>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="auction-list/filter:EquipamientodeSeguridad" class="categories__subtitle">
                                <h3 class="categories__subtitle-title">● Equipamiento de Seguridad</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>