<div class="page-content">
    <div class="container my-4">
        <div class="main-body">
            <div class="row gutters-sm">
                <h2 class="h3">Tendencia en BiddingBay</h2>
                <div class="row gutters-sm ">
                    <a class="col-sm-6 col-md-4 col-lg-2 mb-3 align-items-center text-center foot-text" href="auction-list/filter:ArteyAntiguedades">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKMgPA1y9U2i2DB2Y7Dl_ulk-et5lUEDyfMngd8td-pg&s" alt="Arte"
                            class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h5>Arte y antigüedades</h5>
                        </div>
                    </a>
                    <a class="col-sm-6 col-md-4 col-lg-2 mb-3 align-items-center text-center foot-text" href="auction-list/filter:ElectronicayTecnologia">
                        <img src="https://m.media-amazon.com/images/I/616HouHHLDL.jpg" alt="Electrónica y tecnología"
                            class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h5>Electrónica y tecnología</h5>
                        </div>
                    </a>
                    <a class="col-sm-6 col-md-4 col-lg-2 mb-3 align-items-center text-center foot-text" href="auction-list/filter:ModayAccesorios">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAvp8PoL26UwtnxdAy774BgivbNQnZyAG8dp4O2nMi7w&s" alt="Moda y accesorios"
                            class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h5>Moda y accesorios</h5>
                        </div>
                    </a>
                    <a class="col-sm-6 col-md-4 col-lg-2 mb-3 align-items-center text-center foot-text" href="auction-list/filter:HogaryJardin">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHR4Ijk4Q1iMGWfntEvXVkg9FpOyBqlahD28wZXzL0tg&s" alt="Hogar y jardín"
                            class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h5>Hogar y jardín</h5>
                        </div>
                    </a>
                    <a class="col-sm-6 col-md-4 col-lg-2 mb-3 align-items-center text-center foot-text" href="auction-list/filter:JoyeriayRelojes">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtgXBQYKvfeeUqyK7G1cFk1f5ckKRrn4N4Z_Lv4MGxiQ&s" alt="Joyería y relojes"
                            class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h5>Joyería y relojes</h5>
                        </div>
                    </a>
                    <a class="col-sm-6 col-md-4 col-lg-2 mb-3 align-items-center text-center foot-text" href="auction-list/filter:JuguetesyColeccionables">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6ApFWN6FiRwBdOv-LgxfnNzUTvgHN20u4eN9YjHwsAQ&s" alt="Coleccionables"
                            class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h5>Coleccionables</h5>
                        </div>
                    </a>
                </div>  
                <h2 class="h3 mt-3">Subastas</h2>
                <div  class="row gutters-sm">
                    <app-auction-card *ngFor="let auction of auctions" class="col-sm-6 col-lg-3 mb-3" [auction]="auction"></app-auction-card>
                </div>  
            </div>
        </div>
    </div>
</div>