.file-drop {
  width: 40vw;
  height: 400px;
  border: 6px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.file-drop.drag-over {
  background-color: #f0f0f0;
  border: 6px dashed var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  width: 300px;
  height: 100px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: x-large;
  font-weight: bold;
}
.drop-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploaded-image {
  max-width: 500px;
  height: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40vw;
}

form {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.category-selector {
  background: white;
  gap: 8px;
  padding-block: 20px;
  padding-inline: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 400px;
  width: 100%;
  overflow: auto;
  justify-content: start;
  overscroll-behavior: contain;
}


.category-text{
  background-color: rgba(0,0,0,0.05);
  padding-inline: 8px;
  border-radius: 4px;

}

.input-elements-wrapper{
  display: inline-flex;
  align-items: center;
  gap: 20px;

}
.error-message {
  color: red;
  font-size: 0.8rem;
}

input:not([type="checkbox"]) {
  height: 2rem;
  border: 0;
  border-radius: 4px;
}
