<div class="page-content">
    <div class="container my-4">
        <div class="main-body">

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                               <div class="user-image">
                                {{userInfo.fullName.charAt(0) + userInfo.fullName.charAt(userInfo.fullName.indexOf(' ')+1)}}
                               </div>
                                <div class="mt-3">
                                    <h4>{{userInfo.fullName}}</h4>
                                    <button class="btn btn-outline-primary">Enviar mensaje</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nombre completo</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{userInfo.fullName}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{userInfo.email}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Telefono</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{userInfo.phoneNumber}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Dirección</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{userInfo.adress}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-primary" target="__blank" href="/user-profile">Editar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <h2>Historial de subastas</h2>
                <div class="row gutters-sm">
                    <p>TODO (OR NOT)</p>
                </div>  
            </div>
        </div>
    </div>
</div>