<div class="page-content">
    <div class="container my-4">
        <div class="main-body">

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://ew.com/thmb/hCQO2_ETsK--fb_HzBOCQNM0F-4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/james-murray-1-2000-63baf85a56984bd7a9846947a9e0f585.jpg" alt="Admin"
                                    class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>Jeff Bezos</h4>
                                    <button class="btn btn-outline-primary">Enviar mensaje</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nombre completo</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Jeff Bezos
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    12345@gmail.com
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Telefono</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    (+52) 999-999-9999
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Dirección</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Calle 23 #999, entre 23 y 34
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-primary" target="__blank" href="/user-profile">Editar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <h2>Historial de subastas</h2>
                <div class="row gutters-sm">
                    <app-auction-card class="col-sm-6 col-lg-4 mb-3"></app-auction-card>
                    <app-auction-card class="col-sm-6 col-lg-4 mb-3"></app-auction-card>
                    <app-auction-card class="col-sm-6 col-lg-4 mb-3"></app-auction-card>
                    <app-auction-card class="col-sm-6 col-lg-4 mb-3"></app-auction-card>
                </div>  
            </div>
        </div>
    </div>
</div>