<div class="page-content">
  <div *ngIf="loading">Cargando detalles de la subasta...</div>

  <div *ngIf="error">
    La subasta no existe o ha expirado.
    <button (click)="redirectToHome()">Volver a la página principal</button>
  </div>

  <div *ngIf="!loading && !error">
    <h2 class="h3 mt-4">Detalles de la subasta</h2>
    <div class="card " *ngIf="auction">
      <div class="row">
        <div class="col-md-6">
          <img *ngIf="imageUrl" [src]="imageUrl" alt="ItemImg" class="img-fluid" alt="Auction Item Image">
        </div>
        <div class="col-md-6">
          <h1>{{ auction.objectName }}</h1>
          <p class="text-muted">Categorías: {{ auction.categories }}</p>
          <h3 class="text-primary">{{ auction.highestBid }}</h3>
          <p>Ends in: <span id="countdown">{{remainingTime}}</span></p>
          <button class="btn btn-primary btn-lg">Place Bid</button>
          <p class="mt-4"><strong>Description:</strong></p>
          <p>{{ auction.description }}</p>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Bidder</th>
                <th scope="col">Bid Amount</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John Doe</td>
                <td>$100</td>
                <td>2024-05-22 14:23</td>
              </tr>
              <tr>
                <td>Jane Smith</td>
                <td>$110</td>
                <td>2024-05-22 15:45</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>