.fake-nav-1, .fake-nav-2 {
    background-color: var(--primary-color) !important;
}

.box2-heart-fill{
    color: var(--light-color);
}

.form-control{
    border: 0;
}

.nav-link {
    color: var(--clear-color) !important;
}

.navbar-toggler {
    background-color: var(--clear-color) !important;
}

.login-btn:hover .door-closed{
    display: none !important;
}
.login-btn:hover .door-open{
    display: inline !important;
}

b, .icon{
    color: var(--clear-color);
}
