<div class="fake-nav-1 pt-3 px-3 text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 d-flex justify-content-center align-items-center">
                <i-bs name="box2-heart-fill" width="4vh" height="4vh" class="mx-3 icon">
                </i-bs>
                <h2><b>BiddingBay</b></h2>
            </div>

            <div class="col-lg-6">
                <div class="input-group input-group w-auto my-auto mb-md-0 px-4 pt-1">
                    <button class="btn search-icon btn bg-light" id="search" (click)="navigateSearchByFilter()">
                        <i-bs name="search" width="50" height="20"></i-bs>
                    </button>
                    <input type="text" class="form-control" [(ngModel)]="search" placeholder="Busca productos, subastas, y más...">

                    
                </div>
            </div>

            <div class="col-lg-3 d-flex justify-content-center justify-content-end align-items-center">
                <!-- If logged show this -->
                <ul class="navbar-nav flex-row" *ngIf="userId">
                    <li class="nav-item me-3">
                        <a class="nav-link d-sm-flex align-items-sm-center" href="/user-profile">
                            <div class="user-image">
                                {{userName.charAt(0) + userName.charAt(userName.indexOf(' ')+1)}}
                            </div>
                            <strong class="d-none d-sm-block ms-1">{{userName}}</strong>
                        </a>
                    </li>

                    <li class="nav-item me-3">
                        <a class="nav-link position-relative" href="/settings">
                            <i-bs name="gear" width="4vh" height="4vh">
                            </i-bs>
                        </a>
                    </li>

                    <li class="nav-item me-3">
                        <a class="nav-link position-relative" data-bs-toggle="modal" data-bs-target="#logOutModal">
                            <i-bs name="box-arrow-in-right" width="4vh" height="4vh"></i-bs>
                        </a>

                        <div class="modal fade" id="logOutModal" tabindex="-1" aria-labelledby="logOutModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="logOutModalLabel">Cerrar sesión</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger" (click)="closeSession()" data-bs-dismiss="modal">Continuar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- Else show this -->
                <ul class="navbar-nav ms-auto" *ngIf="!userId">
                    <li class="nav-item me-4">     
                        <a class="nav-link position-relative login-btn" href="/authentication">
                            <strong>Iniciar Sesión</strong>
                            <i-bs name="door-closed" width="4vh" height="4vh" class="door-closed m-2"></i-bs>
                            <i-bs name="door-open" width="4vh" height="4vh" class="door-open d-none m-2"></i-bs>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>   
                                    
</div>
<div class="fake-nav-2 text-center navbar-expand-lg">
    <div class="container-fluid">
        <div class="d-flex justify-content-center align-items-center">
            <ul class="navbar-nav flex-row mx-4">
                <li class="nav-item text-center mx-3 mx-lg-1">
                    <a class="nav-link" href="/home">
                        Inicio
                    </a>
                </li>
                <li class="nav-item text-center mx-3 mx-lg-1"  *ngIf="userId">
                    <a class="nav-link" href="/auction-creator">
                        Subastar
                    </a>
                </li>
                <li class="nav-item text-center mx-3 mx-lg-1">
                    <a class="nav-link" href="/categories">
                        Categorías
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAlerts" aria-labelledby="offcanvasAlertsLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasAlertsLabel">Notificaciones</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <app-alert-card></app-alert-card>
        <app-alert-card></app-alert-card>
        <app-alert-card></app-alert-card>
        <app-alert-card></app-alert-card>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMessages" aria-labelledby="offcanvasMessagesLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasMessagesLabel">Mensajes</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <app-alert-card></app-alert-card>
        <app-alert-card></app-alert-card>
        <app-alert-card></app-alert-card>
        <app-alert-card></app-alert-card>
    </div>
</div>